.user {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid pink;
  cursor: pointer;

  &:hover {
    opacity: .7;
    border: 1px solid hotpink;
  }

  .name {
    font-size: 17px;
  }

  .about {
    color: #bbb;
  }
}
